

/* Hero Section*/
.hero p{
    font-family: "Yuyu", sans-serif;
    color: white;
    position: absolute;
    left: 300px;
    top: 250px;
    text-align: center;
    font-size: 150px;
    font-weight: bold;
}
.hero .banner{
    width: 100%;
}
.hero-btn{
    position: absolute;
    top: 690px;
    left: 450px;
}
.hero-btn button{
    font-family: "Instrument Serif", serif;
    width: 200px;
    font-size: 25px;
    padding: 20px;
    margin: 10px;
    border-radius: 50px;
    background-color: #AAC6DF;
    border: none;
    
}
.hero-btn button:hover{
    background-color: #718697;
}